body {
background-image: url(images/fon.jpg)
}

h1 {
text-align: center;
color: purple;
font-family: Tahoma;
background-color: #6600ff;
margin-left: 300px;
margin-right: 300px;
height: 60px;
border-radius: 10px;
}

h2 {
text-align: center;
color: #6600ff;
font-family: Tahoma;
margin: 100px;
}

h4{
text-align: left;
}

.logo {
width: 100px;
float: left;
background-color: #6600ff;
border-radius: 10px;
}

.chat_box {
border-color: purple;
margin: 100px;
text-align: center;
background-color: #6600ff;
width: 1200px;
border-radius: 10px;
}

.button_color {
background-color: purple;
}

.border_color {
border-color: purple;
}

.footer {
position: fixed;
left: 0;
bottom: 0;
padding: 10px;
background-color: #3d0099;
opacity: 0.8;
color: purple;
font-size: 25px;
font-family: Tahoma;
width: 100%;
}

.message {
margin-top: 8px;
padding-bottom: 5px;
margin-left: 5px;
}