{% extends 'base.html' %}

{% block content %}
    <h1>Сообщения</h1>
    <script>var chat_id = {{ chat_id }};</script>
    <div class="footer">
            <table>
            <td>Создано компанией freedoMaster comp.</td>
            </table>
    </div>
    <form class="chat_box" id="text_message" action="" method="post" enctype="multipart/form-data">
        <div id="chat_box" class="mb-1 container border_color border border-3 rounded" style="height: 75%">
            {% for item in list_msg %}
                {% if item[1] == "msg" %}
                    <h4 class="message rounded bg-light w-25 container">{{ item[0] }}</h4>
                {% elif item[1] == "img" %}
                    <h4><img src="{{ item[0] }}" alt="" class="message rounded w-25 container"></h4>
                {% endif %}
            {% endfor %}
        </div>
            <p>
                {{ form.text(class="textar form-control border border-2 rounded w-75") }}
            </p>
            <p>
                {{ form.pic(class="picar form-control border border-2 rounded w-75")}}
            </p>
            <p>
                {{ form.hidden_tag() }}
                {{ form.submit(type="submit", class="btnar btn border border-2 rounded w-75") }}
            </p>
    </form>
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
{% endblock %}